
.customIcon{
    padding: 10%;
    border-top: solid;
    margin-top: 200% !important;
}

.customdro{
    margin-top: 10%;
    right: 3%
    
}
.custom-bg{
    border-top-left-radius: 20px;
    background-color: #51A82D;
    height: 30px;

}
.brow-btn{
    font-weight: 500;
    padding-top: 2px;
    height: 30px;
    border-bottom-right-radius: 20px;
}
.custom-Submit-btn{
    background: #DCE337;
    color: black;
    height: 25px;
    padding-top: 1px;
    width: 90px;
    border-radius: 15px;
}